{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2><a href="/books">{{ book.name }}</a></h2>
                    <p>Автор: {{ book.author }} </p>
                    <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }} </p>
                </div>
            {% empty %}
                <p>Нет доступных книг.</p>
            {% endfor %}
        </div>
    </div>

    <div class="paginator text-center">
        {% if previous_book %}
            <a href="{% url 'books_by_date' previous_book %}"class="arrow-left"><</a>
        {% endif %}

        <span>
        {% if next_book %}
            <a href="{% url 'books_by_date' next_book %}">{{ next_book }}</a>
        {% else %}
            <span>Нет предыдущей даты</span>
        {% endif %}
        </span>

        {% if next_book %}
            <span>
                <a href="{% url 'books_by_date' next_book %}">{{ next_book }}</a>
            </span>
            <a href="{% url 'books_by_date' next_book %}"class="arrow-right">></a>
            {% endif %}
    </div>
{% endblock %}